In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='Malgun Gothic')

In [42]:
df = pd.read_csv("../../../서울특별시_일반음식점.csv", encoding="cp949")

C:\Users\lth08\AppData\Local\Temp\ipykernel_3832\2358779018.py:1: DtypeWarning: Columns (22,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../../서울특별시_일반음식점.csv", encoding="cp949")

In [43]:
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
       'Unnamed: 47'],
      dtype='object')

In [44]:
# 현재 필요 없는 컬럼 삭제
df.drop(columns=["Unnamed: 47",
                 "개방서비스아이디",
                 "개방자치단체코드",
                 "관리번호",
                 "인허가일자",
                 "인허가취소일자",
                 "상세영업상태코드",
                 "소재지전화",
                 "공장판매직종업원수",
                 "공장생산직종업원수",
                 "건물소유구분명",
                 "보증액",
                 "월세액",
                 "다중이용업소여부",
                 "시설총규모",
                 "전통업소지정번호",
                 "전통업소주된음식",
                 "홈페이지",
                 "남성종사자수",
                 "여성종사자수",
                 "영업장주변구분명",
                 "등급구분명",
                 "급수시설구분명",
                 "총종업원수",
                 "본사종업원수",
                 "공장사무직종업원수",
                 "소재지면적",
                 "최종수정시점",
                 "데이터갱신구분",
                 "데이터갱신일자",
                 "번호",
                 "도로명우편번호",
                 "소재지우편번호",
                 "개방서비스명"
                 ],inplace=True)

In [45]:
df.head()

,개방서비스명,영업상태구분코드,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명
0,일반음식점,1,영업/정상,영업,NaN,NaN,NaN,NaN,서울특별시 강서구 마곡동 757 두산더랜드파크 B동 207호,"서울특별시 강서구 마곡중앙로 161-8, 두산더랜드파크 B동 2층 207호 (마곡동)",혼밥대왕 마곡점,한식,NaN,NaN,한식
1,일반음식점,1,영업/정상,영업,NaN,NaN,NaN,NaN,서울특별시 강서구 화곡동 827-2 1층,"서울특별시 강서구 등촌로13다길 35, 1층 (화곡동)",꾸어가게생선구이화곡점,한식,187499.286366,448069.583478,한식
2,일반음식점,1,영업/정상,영업,NaN,NaN,NaN,NaN,서울특별시 강남구 역삼동 707-34 한신인터밸리24빌딩,"서울특별시 강남구 테헤란로 322, 한신인터밸리24빌딩 지하2층 B130호 (역삼동)",인생갈비탕,한식,204044.789949,444529.840427,한식
3,일반음식점,1,영업/정상,영업,NaN,NaN,NaN,NaN,서울특별시 강남구 대치동 896-28,"서울특별시 강남구 테헤란로68길 25, 지하1층 지하1호 (대치동)",놀부 공유주방 선릉역,한식,204603.136055,444606.621961,한식
4,일반음식점,1,영업/정상,영업,NaN,NaN,NaN,NaN,서울특별시 강남구 삼성동 159-7 현대백화점,"서울특별시 강남구 테헤란로 517, 현대백화점 지하1층 (삼성동)",온기정,일식,205210.358779,445154.422252,일식

In [56]:
# 폐업 후 재개업 하지 않은 음식점 삭제
df.drop(index=(df[(df["폐업일자"].notna()) & (df["재개업일자"].isnull())].index),inplace=True)

In [ ]:
# 정상 영업하는 가게의 해당 컬럼들은 의미 없으므로 삭제
print(df["폐업일자"].notna().sum())
print(df["휴업시작일자"].notna().sum())
print(df["휴업종료일자"].notna().sum())
print(df["재개업일자"].notna().sum())
print(df[df["상세영업상태명"] != "영업"].shape[0])
print(df[df["영업상태명"] != "영업/정상"].shape[0])
print(df[df["개방서비스명"] != "일반음식점"].shape[0])
df.drop(columns=["폐업일자","휴업시작일자","휴업종료일자","재개업일자","상세영업상태명","영업상태구분코드","영업상태명","개방서비스명"],inplace=True)

In [111]:
# 사업자명이 null값이 아니면서 치킨이 포함되는 음식점이거나 업태구분명, 위생업태명에 통닭이 포함되는 업체만 출력
df = df[(df["사업장명"].notna()) & (df["사업장명"].str.contains("치킨")) | (df["업태구분명"].str.contains("통닭")) | (df["위생업태명"].str.contains("통닭"))].reset_index(drop=True)

In [164]:
# 도로명전체주소 컬럼에서 구을 추출
def find_address_gu(address):
    words = address.split()  # 공백 기준으로 나누기
    for word in words:
        if '구' in word:  # "구"가 포함된 단어를 찾기
            # "동작동", "양평동3가" 등 복합 이름 처리
            if word.endswith('구'):  # "구"로 끝나면 전체 반환
                return word
            elif '구' in word:  # "구"로 끝나지 않지만 포함되어 있는 경우
                index = word.find('구')
                return word[:index + 1]  # "구"까지 포함된 부분 반환

def find_address_dong(address):
    words = address.split()  # 공백 기준으로 나누기
    for word in words:
        if '(' in word:  # "구"가 포함된 단어를 찾기
            # "동작동", "양평동3가" 등 복합 이름 처리
            if word.startswith('('):  # "구"로 끝나면 전체 반환
                return word[1:-1]
            elif '(' in word:  # "구"로 끝나지 않지만 포함되어 있는 경우
                index = word.find('(')
                return word[:index + 1]  # "구"까지 포함된 부분 반환

In [133]:
# "구" 값 초기화
df["구"] = None

# 도로명전체주소에서 구 추출
df.loc[df['도로명전체주소'].notna(), "구"] = df.loc[df['도로명전체주소'].notna(), "도로명전체주소"].apply(find_address_gu)

# 소재지전체주소에서 구 추출 (도로명전체주소가 NaN인 경우만 업데이트)
df.loc[df['소재지전체주소'].notna() & df["구"].isna(), "구"] = df.loc[df['소재지전체주소'].notna(), "소재지전체주소"].apply(find_address_gu)

In [168]:
df["동"] = df[(df["구"] == ("서대문구")) & (df["도로명전체주소"].notna())]["도로명전체주소"].apply(find_address_dong)

In [171]:
df[df["동"] == "창천"]

,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명,구,동
2356,"서울특별시 서대문구 창천동 31-40번지 (창천동 31-43,47,48)","서울특별시 서대문구 연세로5가길 8-6 (창천동 31-43,47,48) 1층 (창천동)",이춘봉인생치킨 서울신촌점,호프/통닭,194324.698684,450592.815209,호프/통닭,서대문구,창천

In [173]:
# 도로명 주소를 split하여 뒤에서부터 가져와서 동 가져오고
# 소재지 주소로 도로명 주소가 NaN인 값에서 동을 가져온 뒤
# 트리맵을 그리고
# 클래스로 변환시킨다.