In [2]:
12340 * 1/2

6170.0

In [3]:
12340 / 1/4

3085.0

In [4]:
12340 * 1/5

2468.0

In [5]:
abc = 12340
print(abc)

12340

In [6]:
abc

12340

In [7]:
print(abc * 1/2)
print(abc * 1/4)
print(abc * 1/5)

6170.0
3085.0
2468.0

In [8]:
print("String Test")
print('String Test')

String Test
String Test

In [10]:
string1 = "String Test 1"
string2 = 'String Test 2'
print(string1)
print(string2)

String Test 1
String Test 2

In [11]:
print(type(string1))
print(type(string))

<class 'str'>
<class 'str'>

In [12]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [14]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.'''

long_string2 = """[삼중 작은따옴표를 사용한 예]
파이썬에는삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다."""

print(long_string1)
print(long_string2)

[삼중 작은따옴표를 사용한 예]
파이썬에는삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 작은따옴표를 사용한 예]
파이썬에는삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

In [15]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

Enjoy python!

In [16]:
print(a * 3)

Enjoy Enjoy Enjoy

In [17]:
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [18]:
type(student1)

list

In [19]:
print(student1[0])
print(student1[1])
print(student1[-1])

90
95
80

In [20]:
student1[1] = 100
student1

[90, 100, 85, 80]

In [21]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']